
div.infotekst{
    align-items: center;
    font-size: 24px;
    color: #116530; 
    text-align: center;
  }

  img.piltnupp{
    width: 450px;
    height: 300px;
  }
  table#loomadenupud{
    width: 100%
  }
  .keskelvasakul{
    position: relative;
    text-align: right;
    padding: 20px;
    width: 300px;
    background-color: white;
  }
  .keskelparemal{
    position: relative;
    padding: 20px;
    width: 300px;
    background-color: white;
  }
  .centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  p.nuputekst{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  p.nupunumber{
    text-align:center;
    color: white;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  a:visited#nuputekst{
    color: white;
  }
  .overlay{
    position: absolute;
    right: 20px;
    top: 20px;
    height: 300px;
    width: 450px;
    opacity: 0;
    transition: .5s ease;
  }
  .keskelparemal:hover .overlay{
    opacity: 0.5;
  }
  .keskelvasakul:hover .overlay{
    opacity: 0.5;
  }
  .kaart{
    margin-left: 30px;
    margin-right: 30px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .kontakttekstnimi{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: black;
    padding: 15px;
    width: 30%;
    padding-left: 40px;
  }
  .kontakttekst{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: black;
    width: fit-content;
    vertical-align: middle;
    padding: 15px;
  }
  .kontaktikoon{
    width: 30px;
    padding: 15px;
    vertical-align: middle;
    padding-left: 40px;
  }
  .mapouter{
    position:relative;
    text-align:right;
    height:100%;
    width:100%;
  }
  .mapedge{
    padding: 15px;
    padding-right: 40px;
  }
  .gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:100%;
    width:100%;
  }
  .kontakttabel{
    width: 100%;
  } 
  .kontakttabelikoon{
    width: 60px;
    height: 60px;
  }
  .raam{
    border: 0;
    height: 290px;
    width: 100%
  }
  .pilt{
    padding-left: 0;
  }
