@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Trade+Winds&display=swap');
body {
    margin-top: 100px;
    font-family: Trade Winds;
}
div.gallery {
    /* left: 50%; */
    /* margin-left: -47.5%; */
    margin: auto;
    overflow: visible;
    border-top: 5px dotted #0B4619;
    width: 95%;
    font-family: Trade Winds;
}
.pildid {
    position: relative;
    width: 98%;
    left: 50%;
    margin-left: -48%;
}
.title {
    color: #116530;
    margin: 15px 0px 5px 30px;
    font-size: 6ch;
    padding-bottom: 20px;
    font-family: Trade Winds;
}
.animal {
    color: white;
    margin: 15px;
    float: left;
    background-image: var(--bg);
    background-size: cover;
    padding: 8rem 0 0;
    width: 30%;
    border-radius: .3rem;
    overflow: hidden;

    transition: transform 500ms ease;
}

.animal:hover {
    transform: scale(1.01);
}

.content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 0.2) 20%,
        hsl(0 0% 0% / 0.8));
    transform: translateY(45%);
    transition: transform 500ms ease;

}

.animal:hover .content {
    transform: translateY(0%);
    transition-delay: 400ms;

}

.content > *:not(.name) {
    opacity: 0;
    transition: opacity 500ms linear;
}

.animal:hover .content > * {
    opacity: 1;
    transition-delay: 700ms;
}

.name {
    position: relative;
    width: max-content;
}
.name::after {
    content: "";
    position: absolute;
    left: calc(var(--padding) * -1);
    bottom: -5px;
    height: 6px;
    width: calc(100% + var(--padding));
    background: #FCD733;
    transform: scaleX(0);
    transform-origin: left;

    transition: transform 500ms ease;

}

.animal:hover .name::after {
    transform: scaleX(1);
}

.desc {
    padding-top: 0;
}