h1 {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.taustapilt {
  /* background-image: url('pildid/taust.jpg');
  background-size: auto;
  background-attachment: fixed; */
  background-color: #e8e8cc;
}
div#banner { 
  z-index: 1;
  position: fixed; 
  overflow: hidden;
  top: 0; 
  left: 0; 
  background-color:#116530; 
  width: 100%; 
}
div#banner-content { 
  width: 100%; 
  /* margin-left: 20px;  */
  /* padding: 10px;  */
}
div#main-content { 
  padding-top: 70px;
}
td#pealkiri{
  /* width: 50%; */
  padding-left: 50px;
  /* text-align: center; */
}
td#nupud {
  text-align: right;
  /* margin-right: 0 auto;  */
  /* width: 50%; */
  width: fit-content;
}
table#bannerlayout{
  width: 100%;
}
table#menu{
  width: 100%;
  margin-left: -50px;
}
a {
  text-decoration: none;
}
a#nupp {
  text-decoration: none;
  color:white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 32px;
  padding-left: 20px;

}
a:visited#nupp {
  size: 32px;
  color:white;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
td#kassid{
  width: 20px;
}
td#info{
  width: 210px;
}
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}
